.classTable{
    display: flex;
    flex-wrap: wrap; /* 允许换行 */
    justify-content: space-between; /* 子元素平均分布 */
    align-items: flex-start; /* 垂直居中 */
    gap: 2%; /* 每个子项之间的间距为 2% */
    width: 100%;
    height: 100%;
}
.classOfTeacher{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 23%;
    height: 30%;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}
.classOfTeacher img{
    flex: 9;
    width: 100%;
    height: 80%;
    object-fit: cover;
}
.text-wrapper {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}
